@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263 56% 95%;
    --foreground: 277 30% 20%;

    --card: 263 56% 100%;
    --card-foreground: 277 30% 20%;

    --popover: 263 56% 100%;
    --popover-foreground: 277 30% 20%;

    --primary: 277 87% 53%;
    --primary-foreground: 277 87% 98%;

    --secondary: 263 50% 90%;
    --secondary-foreground: 277 30% 20%;

    --muted: 263 50% 92%;
    --muted-foreground: 277 20% 45%;

    --accent: 182 100% 74%;
    --accent-foreground: 182 100% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 263 50% 88%;
    --input: 263 50% 90%;
    --ring: 277 87% 53%;

    --radius: 0.8rem;

    --chart-1: 277 70% 50%;
    --chart-2: 182 60% 45%;
    --chart-3: 300 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 277 20% 10%;
    --foreground: 263 56% 95%;

    --card: 277 20% 12%;
    --card-foreground: 263 56% 95%;

    --popover: 277 20% 10%;
    --popover-foreground: 263 56% 95%;

    --primary: 277 87% 65%;
    --primary-foreground: 277 87% 98%;

    --secondary: 277 20% 20%;
    --secondary-foreground: 263 56% 95%;

    --muted: 277 20% 18%;
    --muted-foreground: 263 20% 70%;

    --accent: 182 100% 74%;
    --accent-foreground: 182 100% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 277 20% 25%;
    --input: 277 20% 25%;
    --ring: 277 87% 65%;
    
    --chart-1: 277 70% 50%;
    --chart-2: 182 60% 45%;
    --chart-3: 300 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
